* {
  margin : 0px;
  padding : 0px;
  border: none;
  box-sizing: border-box;
}

html {
  font-family: 'arial', sans-serif;
}

body {
  background-color: #404040;
}

header {
  padding: 10px;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

header > h1 {
  font-size: 24px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 10px;
}

.off {
  display: none;
}

#piano {
  width: 100%;
  text-align: center;
}

#piano > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-top: 4px solid #00c000;
}

#piano > div.white {
  width: 20px;
  height: 200px;
  background-color: white;
}

#piano > div + div.white {
  border-left: 1px solid #e0e0e0;
}

#piano > div.black {
  margin: 0px -7px 0px -7px;
  width: 14px;
  height: 130px;
  background-color: black;
  z-index: 1;
}

#piano > div.white:hover {
  background-color: #c0c0c0;
}

#piano > div.black:hover {
  background-color: #606060;
}

#piano > div.black.keyDown,
#piano > div.white.keyDown {
  background-color: #00c000;
}

#controlPanel {
  position: fixed;
  padding: 30px;
  width: 100%;
  height: 100px;
  bottom: 0px;
  text-align: center;
  background-color: black;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000d;
  z-index: 2;
}

#noSupport,
#permissionRequest,
#errorReport,
#voicePlayer {
  position: fixed;
  padding: 20px 20px 0px 20px;
  margin: 0px auto;
  width: 80%;
  max-width: 500px;
  top: 50px;
  left: 0px;
  right: 0px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: grey;
  z-index: 2;
}

#noSupport > *,
#permissionRequest > *,
#errorReport > *,
#voicePlayer > * {
  margin-bottom: 20px;
}
