* {
  margin : 0px;
  padding : 0px;
  border: none;
  box-sizing: border-box;
}

html {
  font-family: 'arial', sans-serif;
}

body {
  background-color: #404040;
}

header {
  position: relative;
  padding: 10px;
  height: 50px;
  background-color: black;
  font-family: 'times new roman', serif;
  text-align: center;
  color: white;
}

header > h1 {
  font-size: 24px;
}

.off {
  display: none;
}

#showInfo {  
  position: absolute;
  margin: auto 0px;
  width: 30px;
  height: 30px;
  top: 0px;
  bottom: 0px;
  right: 20px;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}

#showInfo > img {
  width: 100%;
}

#piano {
  width: 100%;
  text-align: center;
}

#piano > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-top: 4px solid #00c000;
}

#piano > div.white {
  width: 20px;
  height: 180px;
  background-color: white;
}

#piano > div + div.white {
  border-left: 1px solid #e0e0e0;
}

#piano > div.black {
  margin: 0px -7px 0px -7px;
  width: 14px;
  height: 120px;
  background-color: black;
  z-index: 1;
}

#piano > div.white:hover {
  background-color: #c0c0c0;
}

#piano > div.black:hover {
  background-color: #606060;
}

#piano > div.black.keyDown,
#piano > div.white.keyDown {
  background-color: #00c000;
}

#controlPanel {
  position: fixed;
  padding: 20px;
  margin: 0px auto;
  width: 90%;
  max-width: 400px;
  left: 0px;
  right: 0px;
  bottom: 36px;
  border-radius: 10px;
  text-align: center;
  background-color: black;
}

#controlPanel > button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  vertical-align: bottom;
  cursor: pointer;
}

#controlPanel > button + button {
  margin-left: 20px;
}

#controlPanel > p {
  margin-top: 16px;
  font-size: 14px;
  font-style: italic;
  color: #ffffff60;
}

#check,
#talk {
  border: 2px solid #00c000;
  background-color: transparent;
}

button#record {
  background-color: #00c000;
}

#check:active,
#talk:active {
  background-color: #00c000;
}

button#record:active {
  background-color: red;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000d;
  z-index: 2;
}

#noSupport,
#permissionRequest,
#errorReport,
#voicePlayer {
  position: fixed;
  padding: 20px 20px 0px 20px;
  margin: 0px auto;
  width: 80%;
  max-width: 500px;
  top: 50px;
  left: 0px;
  right: 0px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: grey;
  z-index: 2;
}

#noSupport > *,
#permissionRequest > *,
#errorReport > *,
#voicePlayer > * {
  margin-bottom: 20px;
}

#permissionRequest > button {
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 10px;
}

#copyright {
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: center;
  font-size: 14px;
  color: #808080;
}

#infoBox {
  position: fixed;
  margin: 0px auto;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  left: 0px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: white;
  background-color: gray;
  border-radius: 10px;
  z-index: 3;
}

#boxHeader {
  position: relative;
}

#boxHeader > h3 {
  padding-top: 10px;
}

#boxHeader > button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 0px;
  border-radius: 15px;
  cursor: pointer;
}

#boxHeader > button > img {
  width: 100%;
}

#infoText {
  padding: 20px 0px;
}

#infoText > p {
  margin-top: 16px;
}

#infoText a {
  color: white;
}
